<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link href="./assets/css/bootstrap.css" rel="stylesheet" />
		<link href="./assets/css/main.css" rel="stylesheet" />

		<!-- Vue Js -->
		<script src="./assets/js/vue.js"></script>

		<title>Hostess Panel</title>
	</head>

	<body>
		<div id="app">
			<section v-show="!calledUser" class="welcome">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col">
							<div class="infos">
								<img class="logo" :src="hospital.logo" alt="" />
								<h1 class="name">Seja bem vindo ao {{ hospital.name }}</h1>
								<h2 class="current-time">{{ currentTime }}</h2>
								<h3 class="current-date">{{ currentDate }}</h3>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section v-show="calledUser" class="calling-user">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col">
							<div class="infos">
								<img v-if="user.treatment == ''" class="photo" :src="user.photo" alt="" />
								<h4 class="treatment" v-if="user.treatment !== ''">{{ user.treatment }}</h4>
								<h3 class="name">{{ user.firstName }} {{ user.lastName }}</h3>

								<h4 class="destination">
									{{ user.destination }} <span v-if="user.floor !== ''">- {{ user.floor }}</span>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section v-show="!calledUser && lastCalledList.length > 0" class="last-calls">
				<div class="container">
					<div class="row">
						<div class="col-3" v-for="item in lastCalls">
							<div class="box-card clearfix" :class="item.treatment === '' ? 'show-img' : 'hide-img' ">
								<div class="up">
									<img class="photo" :src="item.photo" alt="" />
									<div class="namebox">
										<span class="typelabel" :class="item.treatment == '' ? 'paciente' : 'acompanhante' ">{{
											item.treatment == '' ? 'paciente' : 'acompanhante'
										}}</span>
										<h5 class="firstname">{{ item.firstName }} {{ item.lastName }}</h5>
										<p class="time">{{ updateTimeAgo(item.time) }}</p>
									</div>
								</div>

								<div class="destinationbox">
									<p class="destination">{{ item.destination }} {{ item.floor }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<footer>
				<img @click="openModalSettings" :src="logoHostess" alt="" />
				<p>{{ copyright }}</p>
			</footer>

			<div class="modalfake" :class="showModal ? 'modalshow' : 'modalhide' ">
				<div class="modal-mask">
					<div class="modal-wrapper">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Ajustes</h4>
									<button type="button" class="close" @click="showModal=false">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<label for="ip">(ip e porta)</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon3">Url</span>
										</div>
										<input v-model="urlIp" type="text" class="form-control" readonly id="ip" aria-describedby="ip" />
									</div>

									<hr />

									<label for="basic-url">Digite a url para buscar dados do cliente</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon3">Url</span>
										</div>
										<input v-model="endpoint" type="text" class="form-control" id="basic-url" aria-describedby="endpoint" />
									</div>

									<hr />

									<div class="custom-control custom-checkbox">
										<input v-model="fakeApiActive" type="checkbox" class="custom-control-input" id="fakeApiActive" />
										<label class="custom-control-label" for="fakeApiActive">Ativar fake api de chamadas?</label>
									</div>

									<hr />

									<button @click="close" class="btn btn-warning">Fechar o app</button>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-danger" @click="showModal=false">Cancelar</button>
									<button type="button" class="btn btn-success" @click="getSettings">Salvar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- JavaScript -->
		<script src="http://localhost:35729/livereload.js"></script>
		<script src="./assets/js/jquery.js" onload="window.$ = window.jQuery = module.exports;"></script>
		<script src="./assets/js/popper.js"></script>
		<script src="./assets/js/bootstrap.js"></script>
		<script src="./assets/js/socket.js"></script>
		<script src="./assets/js/app.js"></script>
	</body>
</html>
