$green: #23a196;
$white: #e8e5e3;
$black: #4d4d4d;

@font-face {
	font-family: 'Franklin Gothic Book';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/FranklinGothic-Book.eot');
	src: url('../fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FranklinGothic-Book.woff2') format('woff2'),
		url('../fonts/FranklinGothic-Book.woff') format('woff'), url('../fonts/FranklinGothic-Book.ttf') format('truetype'),
		url('../fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/BebasNeue-Regular.eot');
	src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
		url('../fonts/BebasNeue-Regular.woff') format('woff'), url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
		url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
div,
b,
i,
strong,
ul,
li {
	font-family: 'Franklin Gothic Book';
	font-style: normal;
	font-weight: normal;
}

html {
	height: 100%;
}

body {
	-webkit-animation: slide 20s linear infinite;
	animation: slide 20s linear infinite;
	background: url(../img/bg-shape.png) repeat 0 0;
	background-color: $green;
	background-size: cover;
	height: 100%;
}

@-webkit-keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -400px 0;
	}
}

@keyframes slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -400px 0;
	}
}

#app {
	align-content: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
}

.container {
	max-width: 1920px !important;
}

.welcome {
	text-align: center;
	width: 100%;
	.logo {
		display: block;
		margin: 0 auto 25px;
		max-width: 200px;
		width: 100%;
	}
	.name {
		color: $white;
		font-family: 'Bebas Neue';
		font-size: 2vw;
		font-weight: bold;
		letter-spacing: 0;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.current-time {
		color: $white;
		font-family: 'Bebas Neue';
		font-size: 10vw;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	.current-date {
		color: $white;
		font-family: 'Bebas Neue';
		font-size: 3.4vw;
		font-weight: normal;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}

.calling-user {
	text-align: center;
	width: 100%;
	.infos {
		.photo {
			background-color: #e7e7e7;
			background-image: url(../img/avatar.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border: 10px solid $white;
			border-radius: 20px;
			display: block;
			height: 400px;
			margin: 0 auto 20px;
			max-width: 400px;
			width: 100%;
		}

		.treatment {
			color: $white;
			font-size: 5vh;
			font-weight: bold;
			text-transform: uppercase;
		}
		.name {
			color: $white;
			font-size: 8vh;
			font-weight: bold;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
		.destination {
			color: $white;
			font-size: 6vh;
			font-weight: bold;
			margin-bottom: 0;
			text-transform: uppercase;

			span {
				font-weight: bold;
			}
		}
	}
}

.last-calls {
	padding-bottom: 25px;
	padding-top: 25px;
	width: 100%;

	.box-card {
		background-color: $white;
		border-radius: 10px;
		// height: 175px;
		overflow: hidden;
		width: 100%;

		.up {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}

		.photo {
			background-image: url(../img/avatar.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			height: 127px;
			width: 30%;
		}

		.namebox {
			align-content: flex-start;
			align-items: flex-start;
			background-color: #fff;
			display: flex;
			flex-flow: column;
			flex-wrap: wrap;
			height: 127px;
			justify-content: center;
			padding: 10px;
			position: relative;
			width: 70%;

			.typelabel {
				border-radius: 5px;
				color: #fff;
				font-size: 1.3vh;
				font-weight: bold;
				left: 10px;
				padding: 1px 10px;
				position: absolute;
				text-transform: uppercase;
				top: 10px;

				&.acompanhante {
					background: #ffc107;
				}

				&.paciente {
					background: $green;
				}
			}

			.firstname {
				color: $black;
				font-size: 3vh;
				font-weight: bold;
				margin: 25px 0 0 0;
				text-transform: capitalize;
			}

			.lastname {
				color: $black;
				display: block;
				font-size: 1.5vh;
				font-weight: normal;
				margin: 0;
				text-transform: uppercase;
			}

			.time {
				color: $black;
				font-size: 1.2vh;
				font-weight: bold;
				margin-bottom: 0;
				position: absolute;
				right: 13px;
				top: 13px;
			}
		}

		.destinationbox {
			background-color: $white;
			padding: 10px;
			width: 100%;

			.destination {
				color: $black;
				font-size: 1.5vh;
				font-weight: bold;
				line-height: 1;
				margin: 0;
				text-align: center;
				text-transform: uppercase;

				.floor {
					text-transform: capitalize;
				}
			}
		}

		&.hide-img {
			.photo {
				display: none;
			}

			.namebox {
				width: 100%;
			}
			.destinationbox {
				.destination {
					.floor {
						display: none;
					}
				}
			}
		}
	}
}

footer {
	bottom: 0;
	left: 0;
	padding: 5px;
	position: fixed;
	right: 0;
	text-align: center;
	width: 100%;
	p {
		color: $white;
		display: inline-block;
		font-size: 1.5vh;
		font-weight: bold;
		margin: 0;
		vertical-align: middle;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 100px;
	}
}

.modalfake {
	display: none;
}

.modalshow {
	display: block;
}

.modalhide {
	display: none;
}

.modal-mask {
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease;
	width: 100%;
	z-index: 9998;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}
